* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  gap: 20px 10px;
  background-color: #ddd;
  padding: 20px;
}

.item {
  background-color: #b5d57b;
  border: 1px solid #2e2e2d;
  padding: 20px;
  width: 100px;
}
