* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  padding: 20px;
}

grid-container {
  background-color: #ddd;
  padding: 20px;
}

.item {
  background-color: #b5d57b;
  border: 1px solid #2e2e2d;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  gap: 20px;
}

.item:first-child {
  grid-column: span 2;
}

.item:nth-child(3) {
  grid-row: span 2;
}

.item2 {
  background-color: #f0e065;
  border: 1px solid #2e2e2d;
  padding: 20px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.item2:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.item2:nth-child(4) {
  grid-column: span 2;
}

.item2:nth-child(6) {
  grid-column: span 2;
}
